<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag "icon.svg", :class=>"nav-sidebar-img" %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About us</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Oscar Blanco <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="user-menu">
              <div class="row">
                <div class="col-sm-4">
                  <p class="text-center">
                    <%= image_tag "http://lorempixel.com/200/200/people", :class => "user_img img-circle" %>
                  </p>
                </div>
                <div class="col-sm-8">
                  <span>Nom Cognom</span>
                  <p class="text-muted small">mail@gmail.com</p>
                  <div class="divider">
                  </div>
                  <a href="#" class="btn btn-danger btn-sm btn-block">Sortir</a>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="main-container">
  <div class="col-sm-2 sidebar">
    <div class ="sidebar-wrapper">
      <ul class="nav nav-sidebar">
        <li class="active"><a class="link-black icon-center"href="/"><i class="fa fa-tachometer fa-4x"></i><p class="text-center">Dashboard</p></a></li>
        <li class="desactive"><a class="link-white icon-center" href="#"><i class="fa fa-envelope-o fa-4x"></i><p class="text-center">Notifications</p></a></li>
        <li class="desactive"><a class="link-white icon-center" href="#"><i class="fa fa-calendar fa-4x"></i><p class="text-center">Calendar</p></a></li>
        <li class="desactive"><a class="link-white icon-center" href="#"><i class="fa fa-wrench fa-4x"></i><p class="text-center">Settings</p></a></li>
      </ul>
      <ul class="nav nav-sidebar">
    </div>
  </div>
  <div class="widgets-container">
    <div class="dashboard">
      <div class="gridster">
        <ul class="list-unstyled">
          <li class="widget" data-row="1" data-col="1" data-sizex="6" data-sizey="3">
            <div class="widget-container">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Water consumption - Home<i class="fa fa-eye close"></i></h3>
                </div>
                <div class="inner-widget-container home-panel">
                  <%= render partial: "dashboard/tables/homes" %>
                </div>
              </div>
            </div>
          </li>
          <li class="widget" data-row="1" data-col="2" data-sizex="3" data-sizey="3">
            <div class="widget-container">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">My savings<i class="fa fa-eye close"></i></h3>
                </div>
                <div class="inner-widget-container">
                  <%= render partial: "dashboard/tables/last_one" %>
                </div> 
              </div>
            </div>
          </li>
          <li class="widget" data-row="1" data-col="1" data-sizex="6" data-sizey="3">
            <div class="widget-container">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">My Home versus System<i class="fa fa-eye close"></i></h3>
                </div>
                <div class="inner-widget-container reward">
                  <%= render partial: "dashboard/tables/reward" %>
                </div>
              </div>
            </div>
          </li>
           <li class="widget" data-row="1" data-col="1" data-sizex="3" data-sizey="3">
            <div class="widget-container">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">System efficiency<i class="fa fa-eye close"></i></h3>
                </div>
                <div class="inner-widget-container total-saving">
                  <%= render partial: "dashboard/tables/week" %>
                </div>
              </div>
            </div>
          </li>
          <li class="widget" data-row="1" data-col="1" data-sizex="3" data-sizey="3">
            <div class="widget-container">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Water consumption by neighborhood<i class="fa fa-eye close"></i></h3>
                </div>
                <div class="inner-widget-container">
                  <%= render partial: "dashboard/tables/total_saving" %>
                </div>
              </div>
            </div>
          </li>
          <li class="widget" data-row="1" data-col="1" data-sizex="3" data-sizey="3">
            <div class="widget-container">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Water consumption - System<i class="fa fa-eye close"></i></h3>
                </div>
                <div class="inner-widget-container">
                  <%= render partial: "dashboard/tables/system" %>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>